<tr>
  <td><%= comment.body %></td>
  <td><%= comment.creator.name %></td>
  <% if is_creator?(comment) %>
    <td>[<%= link_to "edit", edit_ticket_comment_path(@ticket, comment) %>]</td>
    <td>[<%= link_to "delete",ticket_comment_path(@ticket, comment), method: 'delete' %>]</td>
  <% end %>
</tr>