<%= render 'shared/content_title', title: 'Projects'%>

<% if no_items?(@projects) %>
  <h3 class="mt-4">No projects 🤨. <span><%= link_to "Create a new one?", new_project_path %><span></h3>
<% else %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Open Tickets</th>
      <th scope="col">Total Tickets</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <%= render 'project', project: project %>
    <% end %>
  </tbody>
</table>
<%end%>