<%= render 'shared/content_title', title: "Tags"%>

<% if no_items?(@tags) %>
  <h3 class="mt-4">There are no tags 🤨. Why not <span><%= link_to "create a new one?", new_tag_path %><span></h3>
<% else %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Tickets</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <%= render 'tag', tag: tag %>
    <% end %>
  </tbody>
</table>
<% end %>